@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;}
.player{
	width:360px;
	height:210px;
	border:1px solid #000;
	border-radius:6px;
	margin:50px auto;
	background-image:url(../images/bg.jpg);
	background-size:360px 200px;}
.cd{
	float:left;
	margin-top:12px;
	margin-left:20px;}
.info{
	float:left;
	margin-top:35px;
	margin-left:26px;
	color:#FFF;
	font-family:"微软雅黑";}
.info h4{	
	margin-bottom:15px;
	letter-spacing:1px;}
.info p{	
	margin-bottom:3px;
	font-size:14px;}
audio{
	width:356px;
	height:35px;}
.audioplayer{
	width:356px;
	height:36px;
	float:left;
	padding:0 2px;
	margin-top:8px;
	background-color:#fff;
	border-radius:0 0 6px 6px;}
	

