@charset "utf-8";
/* CSS Document */
.table_border{
	border-top:1px dotted #663300;
	border-right:1px dashed #663300;
	border-bottom:1px solid #663300;
	border-left:1px dashed #663300;	
}
.header_border{
	border-bottom:1px dashed #ff6600;}
table ul li{
	line-height:2em;
	list-style-image:url(images/pic.GIF);
	text-indent:2em;
	font-size:18px;
}

a:link {
	color: #930;
	text-decoration: none;
}

a:visited {
	color: #930;
	text-decoration: none;
}
a:hover {
	font-style: italic;
	color: #0F0;
	text-decoration: underline;
}
a:active {
	color: #F0F;
	text-decoration: none;
}
.table_border1{
	border:1px solid #999990;}
.title{
	font-family:"方正姚体";
	font-size: 28px;
	font-weight: bold;
	color: #663333;}
.author {
	font-family: "隶书";
	font-size: 24px;
	color: #660000;
	line-height: 1.5em;
	border-bottom-width: 3px;
	border-bottom-style: double;
	border-bottom-color: #999900;
}
table td.content p {
	font-family: "幼圆";
	font-size: 18px;
	font-style: normal;
	line-height: 1;
	font-weight: lighter;
	color: #663300;
	letter-spacing: 0.2em;
	text-indent: 3em;
}
table td.introduce p {
	font-family:"仿宋"; 
	font-size: 15px;
	line-height: 1.5em;
	font-weight: lighter;
	color: #333300;
	text-indent: 2em;
}
